# Parcial de Inteligencia Artificial
## EDA Vilencia intrafamiliar

### primera etapa; Carga de datos y primeros vistasos

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
%matplotlib inline

In [3]:
# Cargar datos
vfamily = pd.read_csv("Reporte_Delito_Violencia_Intrafamiliar_Polic_a_Nacional.csv")

# Primer vistaso a los datos
vfamily.head(3)

/home/everbravovergara/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,DEPARTAMENTO,MUNICIPIO,CODIGO DANE,ARMAS MEDIOS,FECHA HECHO,GENERO,GRUPO ETARIO,CANTIDAD
0,ATLÁNTICO,BARRANQUILLA (CT),8001000,ARMA BLANCA / CORTOPUNZANTE,1/01/2010,MASCULINO,ADULTOS,1
1,BOYACÁ,DUITAMA,15238000,ARMA BLANCA / CORTOPUNZANTE,1/01/2010,FEMENINO,ADULTOS,1
2,CAQUETÁ,PUERTO RICO,18592000,ARMA BLANCA / CORTOPUNZANTE,1/01/2010,MASCULINO,ADULTOS,1

In [4]:
# Conocer caracteristicas relevantes
print("Tamaño del dataset: ", vfamily.shape)

Tamaño del dataset:  (476970, 8)

In [5]:
print("indexacion del dataset: ", vfamily.index)

indexacion del dataset:  RangeIndex(start=0, stop=476970, step=1)

In [9]:
print("Informacion relevante acerca del dataset: ") 
vfamily.info

Informacion relevante acerca del dataset:

<bound method DataFrame.info of         DEPARTAMENTO          MUNICIPIO CODIGO DANE  \
0          ATLÁNTICO  BARRANQUILLA (CT)     8001000
1             BOYACÁ            DUITAMA    15238000
2            CAQUETÁ        PUERTO RICO    18592000
3           CASANARE               MANÍ    85139000
4       CUNDINAMARCA   BOGOTÁ D.C. (CT)    11001000
...              ...                ...         ...
476965       VICHADA      SANTA ROSALÍA    99624000
476966       VICHADA      SANTA ROSALÍA    99624000
476967       VICHADA      SANTA ROSALÍA    99624000
476968  CUNDINAMARCA              TAUSA    25793000
476969  CUNDINAMARCA          ZIPAQUIRÁ    25899000

                       ARMAS MEDIOS FECHA HECHO     GENERO GRUPO ETARIO  \
0       ARMA BLANCA / CORTOPUNZANTE   1/01/2010  MASCULINO      ADULTOS
1       ARMA BLANCA / CORTOPUNZANTE   1/01/2010   FEMENINO      ADULTOS
2       ARMA BLANCA / CORTOPUNZANTE   1/01/2010  MASCULINO      ADULTOS
3       ARMA BLANCA / CORTOPUNZANTE   1/01/2010   FEMENINO      ADULTOS
4       ARMA BLANCA / CORTOPUNZANTE   1/01/2010   FEMENINO      ADULTOS
...                             ...         ...        ...          ...
476965          SIN EMPLEO DE ARMAS       44250   FEMENINO      MENORES
476966          SIN EMPLEO DE ARMAS       44262   FEMENINO      ADULTOS
476967          SIN EMPLEO DE ARMAS       44300   FEMENINO      ADULTOS
476968                          NaN       44294   FEMENINO      ADULTOS
476969                          NaN       44245   FEMENINO      ADULTOS

        CANTIDAD
0              1
1              1
2              1
3              1
4              1
...          ...
476965         1
476966         1
476967         1
476968         1
476969         1

[476970 rows x 8 columns]>

In [10]:
print("Media del dataset: ", vfamily.mean())

In [ ]:
print("Mediana del dataset: ", vfamily.median())

In [ ]:
print("Desviacion estandar del dataset: ", vfamily.std())