# Parcial de Inteligencia Artificial
## EDA Vilencia intrafamiliar

### primera etapa; Carga de datos y primeros vistasos

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
%matplotlib inline

In [9]:
# Cargar datos
vfamily = pd.read_csv("Reporte_Delito_Violencia_Intrafamiliar_Polic_a_Nacional.csv", nrows=10000)

# Primer vistaso a los datos
vfamily.head(3)

,DEPARTAMENTO,MUNICIPIO,CODIGO DANE,ARMAS MEDIOS,FECHA HECHO,GENERO,GRUPO ETARIO,CANTIDAD
0,ATLÁNTICO,BARRANQUILLA (CT),8001000,ARMA BLANCA / CORTOPUNZANTE,1/01/2010,MASCULINO,ADULTOS,1
1,BOYACÁ,DUITAMA,15238000,ARMA BLANCA / CORTOPUNZANTE,1/01/2010,FEMENINO,ADULTOS,1
2,CAQUETÁ,PUERTO RICO,18592000,ARMA BLANCA / CORTOPUNZANTE,1/01/2010,MASCULINO,ADULTOS,1

In [10]:
# Conocer caracteristicas relevantes
print("Tamaño del dataset: ", vfamily.shape)

Tamaño del dataset:  (10000, 8)

In [11]:
print("indexacion del dataset: ", vfamily.index)

indexacion del dataset:  RangeIndex(start=0, stop=10000, step=1)

In [12]:
print("Informacion relevante acerca del dataset: ") 
vfamily.info()

Informacion relevante acerca del dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DEPARTAMENTO  10000 non-null  object
 1   MUNICIPIO     10000 non-null  object
 2   CODIGO DANE   10000 non-null  int64
 3   ARMAS MEDIOS  10000 non-null  object
 4   FECHA HECHO   10000 non-null  object
 5   GENERO        10000 non-null  object
 6   GRUPO ETARIO  10000 non-null  object
 7   CANTIDAD      10000 non-null  int64
dtypes: int64(2), object(6)
memory usage: 625.1+ KB

In [13]:
print("Media del dataset: ", vfamily.mean())

Media del dataset:  CODIGO DANE    4.642629e+07
CANTIDAD       1.513700e+00
dtype: float64

In [14]:
print("Mediana del dataset: ", vfamily.median())

Mediana del dataset:  CODIGO DANE    50313000.0
CANTIDAD              1.0
dtype: float64

In [15]:
print("Desviacion estandar del dataset: ", vfamily.std())

Desviacion estandar del dataset:  CODIGO DANE    2.781689e+07
CANTIDAD       1.600709e+00
dtype: float64

In [22]:
# Convertir datos tipo object a date
from datetime import datetime
vfamily["FECHA HECHO"] = vfamily["FECHA HECHO"].apply(lambda x: datetime.strptime(x, "%d/%m/%Y"))
vfamily["FECHA HECHO"].dtype

dtype('<M8[ns]')

9995   2010-08-11
9996   2010-08-11
9997   2010-08-11
9998   2010-08-11
9999   2010-08-11
Name: FECHA HECHO, dtype: datetime64[ns]